:root {
  --lightmain: #f8f0ff;
  --main: #f1e4ff;
  --darkmain: #786094;
  --lightcontrast: #a9dad5;
  --darkcontrast: #518a94;
  --mdc-theme-primary: #94608b !important;
  --MAIN: #4e4587;
  --lightermain: #edeaff;
}
