:root {
  --lightmain: #f0f2ff;
  --main: #f1e4ff;
  --darkmain: #786094;
  --lightcontrast: #394692;
  --darkcontrast: #1a1e55;
  --mdc-theme-primary: #94608b !important;
  --MAIN: #423a76;
  --lightermain: #edeaff;
  --test: #853f79b;
}
